:root {
    --tea-green: #cce2a3ff;
    --lapis-lazuli: #006494ff;
    --eerie-black: #1a1d1aff;
    --powder-blue: #9eadc8ff;
    --night: #03120eff;
}
body {
    font-family: Work Sans;
    text-align: center;
    background-color: var(--lapis-lazuli);
    color: var(--night);
}

.navbar{
    background-color: var(--powder-blue);
    color: var(--night);
}

.navbar-brand {

    background-color: var(--powder-blue);
    font-size: 30px;
}

.card {
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
}

main {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 30em;
    margin-right: 30em;
}

footer {
    background-color: var(--powder-blue);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--night);
}